<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced</title>
    <link rel="stylesheet" href="../static/Page.css">
    <link href='https://fonts.googleapis.com/css?family=DotGothic16' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="p1">
            DictAction
        </div>
    </header>
    <br>
    <br>
    <br>
    <div style="text-align:center;">
        <a href="UserInput.html" class="button-link">
            <button class="buttonbig">Advanced 1</button>
        </a>
        <br>
        <br>
        <a href="UserInput.html" class="button-link">
            <button class="buttonbig">Advanced 2</button>
        </a>
        <br>
        <br>
        <a href="UserInput.html" class="button-link">
            <button class="buttonbig">Advanced 3</button>
        </a>
        <br>
        <br>
        <a href="UserInput.html" class="button-link">
            <button class="buttonbig">Advanced 4</button>
        </a>
    </div>
</body>

</html>