<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beginner</title>
    <link rel="stylesheet" href="../static/Page.css">
    <link href='https://fonts.googleapis.com/css?family=DotGothic16' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="p1">
            DictAction
        </div>
    </header>
    <br>
    <div style="text-align:center;">
        <form action="/random_dictation" method="post">
            <button type="submit" class="buttonbig">Start Random Dictation</button>
        </form>
    </div>
</body>
</html> 
