<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beginner</title>
    <link rel="stylesheet" href="../static/Page.css">
    <link href='https://fonts.googleapis.com/css?family=DotGothic16' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="p1">
            DictAction
        </div>
    </header>
    <br>
    <br>
    <br>
    <div style="text-align:center;">
        <form action="/dictSelect1" method="post">
            <a href="UserInput" class="button-link">
                <button type="submit" name="button" button class="buttonbig" value="dict1_1">Beginner 1</button>
            </a>
            <br>
            <br>
            <a href="UserInput" class="button-link">
                <button type="submit" name="button" button class="buttonbig" value="dict1_2">Beginner 2</button>
            </a>
            <br>
            <br>
            <a href="UserInput" class="button-link">
                <button type="submit" name="button" button class="buttonbig" value="dict1_3">Beginner 3</button>
            </a>
            <br>
            <br>
            <a href="UserInput" class="button-link">
                <button type="submit" name="button" button class="buttonbig" value="dict1_4">Beginner 4</button>
            </a>
        </form>
    </div>
</body>

</html>