<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DictAction</title>
    <link rel="stylesheet" href="../static/Page.css">
    <link href='https://fonts.googleapis.com/css?family=DotGothic16' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="p1">
            DictAction
        </div>
    </header>
    <br>
    <br>
    <div class="indent">
        Choose speed:
            <input id="normalMsg" type="hidden" name="message" value="{{ message }}">
            <button id="buttonSlow"  type= "submit" name="button" value="slow" button class="button2">Slow</button>
            <button id="buttonNormal" type= "submit" name="button" value="normal" class="button2">Normal</button>
            <button id="buttonFast" type= "submit" name="button" value="fast" button class="button2">Fast</button>
            <script>
                // Pass the dynamic text as a JavaScript variable
                const text = "{{text}}";
        
                // Select the button
                const speakButtonSlow = document.getElementById('buttonSlow');
                const speakButtonNormal = document.getElementById('buttonNormal');
                const speakButtonFast = document.getElementById('buttonFast');
        
                function speak(rate) {
                    const utterance = new SpeechSynthesisUtterance(text);
                    utterance.pitch = 1.0; // Standard pitch
                    utterance.rate = rate; // Variable rate
                    utterance.lang = 'en-US'; // Language
                    speechSynthesis.speak(utterance);
                }

                buttonNormal.addEventListener('click', () => {
                    speak(0.7); // Normal speed
                });

                buttonSlow.addEventListener('click', () => {
                    speak(0.1); // Slow speed
                });

                buttonFast.addEventListener('click', () => {
                    speak(2.0); // Slow speed
                });
            </script>
    <br>
    <div class="indent">
        Start writing:
    </div>
    <div class="indent">
        <form action="/correct" method="POST">
            <textarea name="userAnswer" rows="20" cols="150"></textarea> 
            <br>
            <br>
            <div class="right">
                <a href="/result" class="button-link">
                    <button name="button" class="button3" value="paper">I wrote my dictation on paper</button>
                </a>
                <button type="submit" name="button" class="button3" value="grade">Grade</button>
                <input type="hidden" name="message" value="{{ message }}">
            </div>
        </form>
    </div>
</body>
</html>