<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DictAction</title>
    <link rel="stylesheet" href="../static/Page.css">
    <link href='https://fonts.googleapis.com/css?family=DotGothic16' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="p1">
            DictAction
        </div>
    </header>
    <div class="logo">
        <img src="../static/ict_2.png" alt="Logo">
    </div>
    <div style="text-align:center;">
        <p>
            Hi! Welcome to DictAction, an online dictation tool for beginners to advanced.</p>
        <a href="ChooseType" class="button-link">
            <button class="button">Get Started!</button>
        </a>
    </div>
</body>

</html>